<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    <title>Result</title>
</head>
<div id="particles-js">
    
    <br>
    <br>
    <center><h1>Face Emotion Recognition</h1></center>
    <div class="fileinput">
        <center><img src="{{url_for('static',filename = 'output.jpg') }}" alt="User Image" style="height:400px;box-shadow: 0 0 10px black;"></center>
       
    </div>
    <center><a href="/"><button class="button button2">Back</button></a></center>
</div>
</html>